 @import "reset.scss";


///////////////////////
////// FONTS /////////
//////////////////////


//Special
@font-face{ 
	font-family: "LaylaThuluth"; 
	src: url("/static/fonts/LaylaThuluth.woff");
	src: url('/static/fonts/LaylaThuluth.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('/static/fonts/LaylaThuluth.woff') format('woff'), /* Modern Browsers */
	     url('/static/fonts/LaylaThuluth.otf')  format('opentype');
}

//Regular
@font-face{ 
	font-family: "NotCourierSans"; 
	src: url("/static/fonts/NotCourierSans.woff");
	src: url('/static/fonts/NotCourierSans.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('/static/fonts/NotCourierSans.woff') format('woff'), /* Modern Browsers */
	     url('/static/fonts/NotCourierSans.otf')  format('opentype');
}

//Bold
@font-face{ 
	font-family: "NotCourierSans-Bold"; 
	src: url("/static/fonts/NotCourierSans-Bold.woff");
	src: url('/static/fonts/NotCourierSans-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('/static/fonts/NotCourierSans-Bold.woff') format('woff'), /* Modern Browsers */
	     url('/static/fonts/NotCourierSans-Bold.otf')  format('opentype');
}

//Headline
@font-face{ 
	font-family: "Luminari-Regular"; 
	src: url("/static/fonts/Luminari-Regular.woff");
	src: url('/static/fonts/Luminari-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('/static/fonts/Luminari-Regular.woff') format('woff'), /* Modern Browsers */
	     url('/static/fonts/Luminari-Regular.otf')  format('opentype');
}


@mixin layla_thuluth_font {
	font-family: 'LaylaThuluth','Montserrat', Arial, Helvetica, sans-serif;
}

@mixin special_font{
	@include layla_thuluth_font;
	font-weight: 700; 
}

@mixin not_courier_sans_font {
	font-family: 'NotCourierSans','Montserrat', Arial, Helvetica, sans-serif;
}

@mixin regular_font{
	@include not_courier_sans_font;
	font-weight: 700; 
}


@mixin not_courier_sans_font_bold {
	font-family: 'NotCourierSans-Bold','Montserrat', Arial, Helvetica, sans-serif;
}

@mixin bold_font{
	@include not_courier_sans_font_bold;
	font-weight: 700; 
}

@mixin luminari_font {
	font-family: 'Luminari-Regular','Montserrat', Arial, Helvetica, sans-serif;
}

@mixin headline_font{
	@include luminari_font;
	font-weight: 700; 
}



@mixin clearblock {
	content: " ";
	display: block; 
	height: 0; 
	clear: both;
}
@mixin transform($transforms) {
	   -moz-transform: $transforms;
		 -o-transform: $transforms;
		-ms-transform: $transforms;
	-webkit-transform: $transforms;
			transform: $transforms;
}

///////////////////////
////// DEBUG //////////
///////////////////////

body.is-debug {
	div.center-wrapper {
		background-image: url("/static/images/grid.png");
		background-repeat: repeat-y;
		background-position: 20px 0;

	}
}

///////////////////////
////// COLORS ////////
//////////////////////

$color_bg: #9933FF;
$color_bg_dark: #000;

$color_text: #F8C8C5;
$color_text_less: #B9FF00;
$color_text_bright: #B9FF00;
$color_text_emphasis: #FF0C00;

$color_text_blue: #FF0C00;


///////////////////////
////// SIZES ////////
//////////////////////

$grid_width: 1000px;
$grid_column_width: 60px;
$grid_columns: 15;

$grid_gutter: 20px;

$main_padding: 20px;
$header_height: 500px;

$baseline_height: 26px;


@function grid_columns_width($columns) {
	@return $columns * $grid_column_width + ($columns - 1) * $grid_gutter;
}


@function grid_columns_pct($columns) {
	$w: grid_columns_width($columns);

	@return percentage($w / $grid_width);
}


@function grid_columns_gutter_pct($columns, $gutters) {
	$w: grid_columns_width($columns) + $gutters * $grid_gutter;

	@return percentage($w / $grid_width);
}

@mixin background-size($params) {
	-webkit-background-size: $params;
	-moz-background-size: $params;
	-o-background-size: $params;
	background-size: $params;
}


///////////////////////
/// GENERAL ///////////
//////////////////////

h1, h2 {
	@include headline_font;
	font-size: 1.5em;
	//line-height: $baseline_height * 2.5;
	//text-transform: uppercase;
}

h1 {
	letter-spacing: 0.3em;
	//line-height: $baseline_height * 8;
}

h2 {
	@include headline_font;
	font-size: 1.7em;
	letter-spacing: 0.1em;
}


p {
	//@include regular_font;
	@include bold_font;
	margin-bottom: 1em;
	line-height: $baseline_height;
	font-size: 1.8em;
	text-align: left;
	margin-bottom: 0;
	padding-bottom: 2em;
}

img {
	max-width: 100%;
	height: auto;
	display: inline-block;
	vertical-align: middle;

	&.extend_size{
		width: 100%;
	}
}

a {
	@include bold_font;
	//font-size: 1.5em;
	letter-spacing: 0.1em;
	//text-transform: uppercase;
	color: $color_text;
	text-decoration: underline;

	&:hover {
		color: $color_text_less;
	}
}


.sans-bold {
	@include bold_font;
}

.special{
	@include special_font;
}

.headline{
	@include headline_font;
}

.centered{
	text-align: center;
}

.bright-text{
	color: $color_text_bright;
}
.rosa-text{
	color: $color_text;
}
.emphasis-text{
	color: $color_text_emphasis;
}

.blue-text {
	color: $color_text_blue;
}

body{
     background:#111a28
}

@-webkit-keyframes pulse {
     from {
         -webkit-transform: scale3d(1, 1, 1);
         transform: scale3d(1, 1, 1);
    }
     50% {
         -webkit-transform: scale3d(0.2, 0.2, 0.2);
         transform: scale3d(0.2, 0.2, 0.2);
    }
}
 @keyframes pulse {
     from {
         -webkit-transform: scale3d(1, 1, 1);
         transform: scale3d(1, 1, 1);
    }
     50% {
         -webkit-transform: scale3d(0.2, 0.2, 0.2);
         transform: scale3d(0.2, 0.2, 0.2);
    }
}
 @-webkit-keyframes pulse2 {
     from {
         -webkit-transform: scale3d(1, 1, 1);
         transform: scale3d(1, 1, 1);
    }
     50% {
         -webkit-transform: scale3d(0, 0, 0);
         transform: scale3d(0, 0, 0);
    }
}
 @keyframes pulse2 {
     from {
         -webkit-transform: scale3d(1, 1, 1);
         transform: scale3d(1, 1, 1);
    }
     50% {
         -webkit-transform: scale3d(0, 0, 0);
         transform: scale3d(0, 0, 0);
    }
     100% {
         -webkit-transform: scale3d(1, 1, 1);
         transform: scale3d(1, 1, 1);
    }
}
 @-webkit-keyframes pulse3 {
     from {
         -webkit-transform: scale3d(1, 1, 1);
         transform: scale3d(1, 1, 1);
    }
     50% {
         -webkit-transform: scale3d(0, 0, 0);
         transform: scale3d(0, 0, 0);
    }
     90% {
         -webkit-transform: scale3d(1, 1, 1);
         transform: scale3d(1, 1, 1);
    }
}
 @keyframes pulse3 {
     from {
         -webkit-transform: scale3d(1, 1, 1);
         transform: scale3d(1, 1, 1);
    }
     50% {
         -webkit-transform: scale3d(0, 0, 0);
         transform: scale3d(0, 0, 0);
    }
     90% {
         -webkit-transform: scale3d(1, 1, 1);
         transform: scale3d(1, 1, 1);
    }
}
 .main-loader{
    position: fixed;
    left:50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
}
 .loader1{
   width: 20px;
   height: 20px;
   background-color: $color_text_bright;
   border-radius: 50%;
   float: left;
   z-index: 9;
   position: absolute;
   left: 20px;
   top: 20px;
   -webkit-animation-name: pulse;
   animation-name: pulse;
   animation-duration: 2s;
   animation-iteration-count: infinite;
   transform-origin: center;
   animation-delay: 0s;
   transition: transform 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}
 .loader2{
   width: 40px;
   height: 40px;
   background-color: $color_text_bright;
   border-radius: 50%;
   float: left;
   z-index: 8;
   opacity: 0.7;
   position: absolute;
   left: 10px;
   top: 10px;
   -webkit-animation-name: pulse2;
   animation-name: pulse2;
   animation-duration: 2s;
   animation-iteration-count: infinite;
   animation-delay: 0.3s;
   transform-origin: center;
   transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
 .loader3{
   width: 60px;
   height: 60px;
   background-color: $color_text_bright;
   border-radius: 50%;
   float: left;
   z-index: 7;
   opacity: 0.4;
   position: absolute;
   left: 0;
   top: 0;
   -webkit-animation-name: pulse3;
   animation-name: pulse3;
   animation-duration: 2s;
   animation-iteration-count: infinite;
   animation-delay: 0.5s;
   transform-origin: center;
   transition: transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

///////////////////////
/// MAIN CONTAINERS ///
//////////////////////

html {
	height: 100%;
	min-width: 100%;
}

body {
	height: 100%;
	//background-color: $color_bg;
	//padding-top: 1.5%;

	@include headline_font;
	text-align: left;
	color: $color_text;
	font-size: 12px;
	//line-height: $baseline_height;
}

body {
      animation: colorchange 75s linear 1s infinite; /* animation-name followed by duration in seconds*/
         /* you could also use milliseconds (ms) or something like 2.5s */
      -webkit-animation: colorchange 75s linear 0s infinite alternate; /* Chrome and Safari */

      &#remedies{
      	animation: colorchange-remedies 75s linear 1s infinite; /* animation-name followed by duration in seconds*/
         /* you could also use milliseconds (ms) or something like 2.5s */
      -webkit-animation: colorchange-remedies 75s linear 0s infinite alternate; /* Chrome and Safari */
      h1{
      	font-size: 4em;
      	text-align: center;
      	}
      h2{
      	text-align: center;
      	}
      }

    }

    @keyframes colorchange
    {
      0%   {background: #9933ff; color: cyan;}
      33%  {background: #9600ff; color: magenta;}
      66%  {background: #6633ff; color: yellow;}
      100% {background: #0000ff; color: cyan;}
   }

    @-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
    {
      0%   {background: #9933ff; color: cyan;}
      33%  {background: #9600ff; color: magenta;}
      66%  {background: #6633ff; color: yellow;}
      100% {background: #0000ff; color: cyan;}
   }

	@keyframes colorchange-remedies
    {
      0%   {background: #FF0C00; color: cyan;}
      50%  {background: #0000ff; color: yellow;}
      100% {background: #FF0C00; color: cyan;}
   }

    @-webkit-keyframes colorchange-remedies /* Safari and Chrome - necessary duplicate */
    {
      0%   {background: #FF0C00; color: cyan;}
      50%  {background:#0000ff; color: yellow;}
      100% {background: #FF0C00; color: cyan;}
   }

body > header {
//padding-top: 1%;
}

body > header {
	background-color: $color_text_emphasis;
	bottom: 0;
    position: fixed;
	padding: 0.5em 0 0.5em 0;
	width: 100%;
	z-index: 2000;

	vertical-align: -webkit-baseline-middle !important;

	-webkit-filter: drop-shadow( 0 0 4mm $color_text_bright);
     		filter: drop-shadow( 0 0 4mm $color_text_bright);
}

nav.mainnav {
	ul {
		//display: block !important;
		li {
			display: block;
			float: left;
			line-height: 18px;

			//margin-left: grid_columns_width(1);
			margin-left: 2%;

			vertical-align: -webkit-baseline-middle !important;

			&#preface{
					//margin-left: 0;
				}

			&#player{
					padding-top: 0.7em;
					margin-left: 0;
				}

			span.menu{
				vertical-align: middle;
				display: inline-grid;
				&#preface{
					    display: inline-block !important;
					    padding-left: 0;
				}
			}

			img{
				height: 5em;
			}

			a {
				@include bold_font;

				text-align: center;

				text-transform: uppercase;
				font-size: 18px;
				letter-spacing: 0.03em;

				text-decoration: none;

				vertical-align: top !important;

				color: $color_text_less;

				&:hover {
					color: $color_text_less;
					text-decoration: none;
				}
				&#preface{
					font-size: 4.1em;	
				}
			}

			button.player{
				float: right;
				background: none;
    			border: none;
    			&:hover{
    				cursor: pointer;
    			}
				img{
					height: 3em;
				}
			}
		}
	}
}

iframe#content{
	width: 100%;
	height: 100%;
}

audio{
	display: none;
}

section.mainsection {
	width: 100%;
	margin: 0 auto;

	h1.special{
		@include headline_font;
		&.emphasis-text{
			color: red;
		}
	}

	&.last{
		margin-bottom: 14em;
		height: inherit;
		    display: inline-table;
	}

	&.remedies{
		margin-top: 13%;
		h1{
			margin: auto;
    		display: table;
		}
		h2{
			margin: auto;
    		display: table;
    		padding-bottom: 4em;
		}
	}
	&.remedies-list{
		ul{
			font-size: 2em;
		}
	}

	&.compendium{
		margin-top: 23%;
		h1 {
			text-align: center;
    		font-size: 5em;
    		padding-bottom: 1em;
    	}
    	h2{
    		padding-top: 1em;
    		text-align: center;
    		font-size: 3em;
    		padding-bottom: 1em;
    	}
    	img{
    		margin: auto;
    		display: block;
    		height: 44em;
    		padding-bottom: 1em;
    	}
	}
	&.first{
		margin-top: 23%;
	}
	
}

div.center-wrapper {
	max-width: $grid_width;
	padding: 0 $main_padding 0 $main_padding;
	margin: 0 auto;
	position: relative;
}

.divider{
	height: 6em;
    margin: auto;
    display: block;
    margin-bottom: 7em;
    margin-top: 7em;
    &.divider2{
    	height: 14em;
    }
    &.divider3{
    	height: 100%;
    }
}

.download-overlay{
		float: right;
    	margin-right: 24em;
		
    	display: block;
    	height: 3.5em;
    	position: relative;
    	top: 28em;
    	&.glow-more{
    		-webkit-filter: drop-shadow( 0 0 4mm $color_text_bright);
     		filter: drop-shadow( 0 0 4mm $color_text_bright);
    	}
}

section#front {
	position: relative;
	overflow: hidden;
	    height: inherit;
	img{
		margin: auto;
		width: 100%;
		height: 100%;
		display: block;
		position: relative;
		//top: 0; left: 5%;
	}
	.front-overlay{
		position: absolute;
    	top: 59em;
    	float: right;
    	right: 7em;
    	width: 40%;
    	font-size: 0.7em;
	}
}

section#content {
	h1.special{
		@include headline_font;
		&.emphasis-text{
			color: red;
		}
	}

	h3{
		@include bold_font;
		font-size: 2em;
		text-align: center;
		padding-bottom: 2em;
	}

	img.download{
		display: block;
		margin: auto;
	}

	ul{
		margin-bottom: 3em;
		@include regular_font;
		li{
			@include bold_font;
			display: flex;
			padding-bottom: 1em;
			margin-left: 2%;
			span.left{
				position: absolute;
    			font-size: 1.8em;
    			float: left;	
			}
			span.right{
				font-size: 1.8em;
    			float: right;
    			margin-left: 27em;	
			}
		}
	}

	div.episodes{
		background-image: url("/static/images/episodes/00.jpg");
  		background-attachment: fixed;
  		//background-attachment: unset;
  		
  		background-position: center;
  		background-repeat: no-repeat;
  		
  		//background-size: cover;
  		


  		//background-size: contain;
		//margin-bottom: 10em;
    	//height: 47em;

    	background-size: cover;
    	
    	background-position: center;
  		background-repeat: repeat;
  		background-size: 80%;


    	margin-bottom: 10em;
    	height: 46em;

    	&#episode1{
    		background-image: url("/static/images/episodes/EP-1still.jpg");
    	}

    	&#episode2{
    		background-image: url("/static/images/episodes/EP-2still.jpg");
    	}

    	&#episode3{
    		background-image: url("/static/images/episodes/EP-3still.jpg");
    	}

    	&#episode4{
    		background-image: url("/static/images/episodes/EP-4still.jpg");
    	}

    	&#episode5{
    		background-image: url("/static/images/episodes/EP-5still.jpg");
    	}

    	&#episode6{
    		background-image: url("/static/images/episodes/EP-6still.jpg");
    	}

    	&#episode7{
    		background-image: url("/static/images/episodes/EP-7still.jpg");
    	}
		img{
			width: 97%;
			position: absolute;
			&.title{
				padding-top: 4%;
    			left: 7%;
   				width: 88%;
			}
		}
	}
}

div.header-frame-test{
		top: -2em;
		background-image: url("/static/images/0headerAR.png");
  		background-attachment: fixed;
  		background-position: center;
  		background-repeat: no-repeat;
  		//background-size: cover;
  		background-size: contain;

		margin-bottom: 10em;
    	//height: 47em;
    	&.zoomOut{
			background-image: url("/static/images/0headerEN.png");
		}
	}



.header-frame{
	position: absolute !important;
    height: auto !important;
    top: 0;
    width: 100%;
    &.big-only{
    	display: block;
    }
    &.mobile-only{
    	display: none;
    }
    &.fixed-frame{
    	    position: fixed !important;
    }
}

.small-header{
	height: 16em;
    display: block;
    margin: auto;
    &#headerAR{
    	    position: absolute;
    		left: 35%;
    }
}



.glow{
	//animation: flicker 1.5s ease-in-out infinite;
	
	 -webkit-filter: drop-shadow( 4px 4px 3px $color_text_bright);
     filter: drop-shadow( 4px 4px 3px $color_text_bright);
}

.glow-flicker{
	animation: flicker 1.5s  infinite;
	
	-webkit-filter: drop-shadow( 4px 4px 3px $color_text_bright);
    filter: drop-shadow( 4px 4px 3px $color_text_bright);
}

.float{
	animation: float 5.5s ease-in-out infinite;
	
	 -webkit-filter: drop-shadow( 4px 4px 3px $color_text_bright);
     filter: drop-shadow( 4px 4px 3px $color_text_bright);
}





.zoomIn{
	animation: zoomin 20s infinite ;
	&.header{
		height: inherit;
		width: 100%;
		position: initial;
		float: right;
    	right: 6%;
	}
}



.zoomOut{
	animation: zoomout 20s infinite ;
}

@keyframes flicker {
	0% {
		-webkit-filter: drop-shadow( 4px 4px 3px $color_text_bright);
     	filter: drop-shadow( 4px 4px 3px $color_text_bright);
	}
	50% {
		-webkit-filter: drop-shadow( 2px 2px 0px $color_text_bright);
     filter: drop-shadow( 2px 2px 0px $color_text_bright);
	}
	100% {
		-webkit-filter: drop-shadow( 4px 4px 3px $color_text_bright);
     	filter: drop-shadow( 4px 4px 3px $color_text_bright);
	}
}

@keyframes float {
	0% {
		//box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		//box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		//box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}


@keyframes zoomout {
    0% {
        transform: scale(0.5,0.5);
    }
    50% {
        transform: scale(1.1,1.1);
    }
    100% {
        transform: scale(0.5,0.5);
    }
}

@keyframes zoomin {
    0% {
        transform: scale(1.2,1.2);
    }
    50% {
        transform: scale(0.8,0.8);
    }
    100% {
        transform: scale(1.2,1.2);
    }
}



///////////////////////
/// MEDIA QUERIES /////
///////////////////////



/////////////////////////////
/// MEDIUM SCREENS / PADS ///
/////////////////////////////

@media (min-width: 1441px) and (max-width: 2561px) {
	div.center-wrapper {
	    max-width: 54%;
	   }
	nav.mainnav{
		ul{
			width: 100%;
			display: table;
    		margin: auto;
		}
	}
	body#remedies {
		h1 {
    	font-size: 5em;
    	}
    	h2{
    		font-size: 3em;
    	}
	}
	.small-header {
		height: 33em;
		&#headerAR{
			left: 39%;
		}
	}

	section.mainsection.remedies{
		margin-top: 12%;
	}

	.front-overlay{
	    top: 68em !important;
	    right: 5em !important;
	    
	    font-size: 1.1em !important;
	}

	div.episodes{
		height: 64em !important;
		img.frame{
			width: 98% !important;
		}
	}
	
}


@media screen and (max-width: 1025px) { 

	nav.mainnav {
		ul {
			li {
				margin-left: 2%;
				&#preface{
					img{
						vertical-align: bottom;
					}
				}
				span.menu#preface {
					padding-top: 2em;
					a{
						font-size: 21.1em;
					}
				}
			}
		}
	}

	header{
		font-size: 0.2em;
	}
	.front-overlay {
    	top: 61em !important;
    	right: 5em !important;
    	font-size: 0.5em !important;
	}
	.zoomIn.header {
		top: -18em;
    	position: absolute;
	}
	.zoomOut.header {
		position: inherit;
    	top: 13em;
    	height: inherit;
	}
	div.episodes{
		background-size: cover;
    	margin-bottom: 10em;
    	height: 46em;
	}
	
}

@media screen and (max-width: 768px) { 
	body#remedies h1 {
    font-size: 2.5em;
	}
	nav.mainnav{
		ul {
			li {
			    span.menu#preface{
			    	padding-top: 1em;
			    	//font-size: 2em;
			    	a{
			    		font-size: 10.1em;
			    	}
			    }
			}
		} 
	}
	div.episodes{
    	height: 34em !important;
	}
}


/////////////////////////////
/// SMALL SCREENS ///////////
/////////////////////////////

@media screen and (max-width: 630px) {
	nav.mainnav{
		text-align: center;
		ul {
			li {
			    margin: auto;
			    display: inline-flex;
			    &#preface{
			    	    //font-size: 2em;
			    	    span#preface{
			    	    	 a{
			    	    	font-size: 10.1em;
			    	    	}
			    	  	 }
			    	   
			    }
			}
		} 
	}
	.front-overlay{
		width: 70% !important;
		top: 78em !important;
    	right: 8em !important;
    	z-index: 300;
	}

	div.header-frame-test {
    	top: 0;
	}

	.header-frame{
		position: absolute !important;
   		height: auto !important;
   		top: 0;
   		width: 100%;
   		&.big-only{
   			display: none;
   		}
   		&.mobile-only{
   			display: block;
   		}
	}	

	div.episodes{
    	height: 18em !important;
    	img{
    		width: 91% !important;
    	}
	}


	section#content ul li {
		    display: grid;
		    span.left{
		    	position: relative;
    			font-size: 1.8em;
    			float: left;
    			display: block;
		    }
		    span.right{
		    	position: relative;
    			font-size: 1.8em;
    			float: left;
   				margin-left: 0;
    			display: block;
		    }
	}

}

@media screen and (max-width: 375px) {
	div.episodes{
    	height: 15em !important;
    	img{
    		width: 90% !important;
    	}
	}
}


@media screen and (max-width: 320px) {
	nav.mainnav{
		text-align: center;
		ul {
			li {
			    margin: auto;
			    display: inline-flex;
			    &#preface{
			    	    //font-size: 2em;
			    	    span#preface{
			    	    	 a{
			    	    	font-size: 15.1em;
			    	    	}
			    	  	 }
			    	   
			    }
			}
		} 
	}

}
