@charset "UTF-8";
/* thank you! http://meyerweb.com/eric/tools/css/reset/ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "LaylaThuluth";
  src: url("/static/fonts/LaylaThuluth.woff");
  src: url("/static/fonts/LaylaThuluth.eot?#iefix") format("embedded-opentype"), url("/static/fonts/LaylaThuluth.woff") format("woff"), url("/static/fonts/LaylaThuluth.otf") format("opentype");
}
@font-face {
  font-family: "NotCourierSans";
  src: url("/static/fonts/NotCourierSans.woff");
  src: url("/static/fonts/NotCourierSans.eot?#iefix") format("embedded-opentype"), url("/static/fonts/NotCourierSans.woff") format("woff"), url("/static/fonts/NotCourierSans.otf") format("opentype");
}
@font-face {
  font-family: "NotCourierSans-Bold";
  src: url("/static/fonts/NotCourierSans-Bold.woff");
  src: url("/static/fonts/NotCourierSans-Bold.eot?#iefix") format("embedded-opentype"), url("/static/fonts/NotCourierSans-Bold.woff") format("woff"), url("/static/fonts/NotCourierSans-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Luminari-Regular";
  src: url("/static/fonts/Luminari-Regular.woff");
  src: url("/static/fonts/Luminari-Regular.eot?#iefix") format("embedded-opentype"), url("/static/fonts/Luminari-Regular.woff") format("woff"), url("/static/fonts/Luminari-Regular.otf") format("opentype");
}
body.is-debug div.center-wrapper {
  background-image: url("/static/images/grid.png");
  background-repeat: repeat-y;
  background-position: 20px 0;
}

h1, h2 {
  font-family: "Luminari-Regular", "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.5em;
}

h1 {
  letter-spacing: 0.3em;
}

h2 {
  font-family: "Luminari-Regular", "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.7em;
  letter-spacing: 0.1em;
}

p {
  font-family: "NotCourierSans-Bold", "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin-bottom: 1em;
  line-height: 26px;
  font-size: 1.8em;
  text-align: left;
  margin-bottom: 0;
  padding-bottom: 2em;
}

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}
img.extend_size {
  width: 100%;
}

a {
  font-family: "NotCourierSans-Bold", "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #F8C8C5;
  text-decoration: underline;
}
a:hover {
  color: #B9FF00;
}

.sans-bold {
  font-family: "NotCourierSans-Bold", "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.special {
  font-family: "LaylaThuluth", "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.headline {
  font-family: "Luminari-Regular", "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.centered {
  text-align: center;
}

.bright-text {
  color: #B9FF00;
}

.rosa-text {
  color: #F8C8C5;
}

.emphasis-text {
  color: #FF0C00;
}

.blue-text  {
  color: #FF0C00;
}

body {
  background: #111a28;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(0.2, 0.2, 0.2);
    transform: scale3d(0.2, 0.2, 0.2);
  }
}
@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(0.2, 0.2, 0.2);
    transform: scale3d(0.2, 0.2, 0.2);
  }
}
@-webkit-keyframes pulse2 {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(0, 0, 0);
    transform: scale3d(0, 0, 0);
  }
}
@keyframes pulse2 {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(0, 0, 0);
    transform: scale3d(0, 0, 0);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes pulse3 {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(0, 0, 0);
    transform: scale3d(0, 0, 0);
  }
  90% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes pulse3 {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(0, 0, 0);
    transform: scale3d(0, 0, 0);
  }
  90% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.main-loader {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
}

.loader1 {
  width: 20px;
  height: 20px;
  background-color: #B9FF00;
  border-radius: 50%;
  float: left;
  z-index: 9;
  position: absolute;
  left: 20px;
  top: 20px;
  -webkit-animation-name: pulse;
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: center;
  animation-delay: 0s;
  transition: transform 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.loader2 {
  width: 40px;
  height: 40px;
  background-color: #B9FF00;
  border-radius: 50%;
  float: left;
  z-index: 8;
  opacity: 0.7;
  position: absolute;
  left: 10px;
  top: 10px;
  -webkit-animation-name: pulse2;
  animation-name: pulse2;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: 0.3s;
  transform-origin: center;
  transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.loader3 {
  width: 60px;
  height: 60px;
  background-color: #B9FF00;
  border-radius: 50%;
  float: left;
  z-index: 7;
  opacity: 0.4;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-animation-name: pulse3;
  animation-name: pulse3;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: 0.5s;
  transform-origin: center;
  transition: transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

html {
  height: 100%;
  min-width: 100%;
}

body {
  height: 100%;
  font-family: "Luminari-Regular", "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-align: left;
  color: #F8C8C5;
  font-size: 12px;
}

body {
  animation: colorchange 75s linear 1s infinite;
  /* animation-name followed by duration in seconds*/
  /* you could also use milliseconds (ms) or something like 2.5s */
  -webkit-animation: colorchange 75s linear 0s infinite alternate;
  /* Chrome and Safari */
}
body#remedies {
  animation: colorchange-remedies 75s linear 1s infinite;
  /* animation-name followed by duration in seconds*/
  /* you could also use milliseconds (ms) or something like 2.5s */
  -webkit-animation: colorchange-remedies 75s linear 0s infinite alternate;
  /* Chrome and Safari */
}
body#remedies h1 {
  font-size: 4em;
  text-align: center;
}
body#remedies h2 {
  text-align: center;
}

@keyframes colorchange {
  0% {
    background: #9933ff;
    color: cyan;
  }
  33% {
    background: #9600ff;
    color: magenta;
  }
  66% {
    background: #6633ff;
    color: yellow;
  }
  100% {
    background: #0000ff;
    color: cyan;
  }
}
@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */ {
  0% {
    background: #9933ff;
    color: cyan;
  }
  33% {
    background: #9600ff;
    color: magenta;
  }
  66% {
    background: #6633ff;
    color: yellow;
  }
  100% {
    background: #0000ff;
    color: cyan;
  }
}
@keyframes colorchange-remedies {
  0% {
    background: #FF0C00;
    color: cyan;
  }
  50% {
    background: #0000ff;
    color: yellow;
  }
  100% {
    background: #FF0C00;
    color: cyan;
  }
}
@-webkit-keyframes colorchange-remedies /* Safari and Chrome - necessary duplicate */ {
  0% {
    background: #FF0C00;
    color: cyan;
  }
  50% {
    background: #0000ff;
    color: yellow;
  }
  100% {
    background: #FF0C00;
    color: cyan;
  }
}
body > header {
  background-color: #FF0C00;
  bottom: 0;
  position: fixed;
  padding: 0.5em 0 0.5em 0;
  width: 100%;
  z-index: 2000;
  vertical-align: -webkit-baseline-middle !important;
  -webkit-filter: drop-shadow(0 0 4mm #B9FF00);
  filter: drop-shadow(0 0 4mm #B9FF00);
}

nav.mainnav ul li {
  display: block;
  float: left;
  line-height: 18px;
  margin-left: 2%;
  vertical-align: -webkit-baseline-middle !important;
}
nav.mainnav ul li#player {
  padding-top: 0.7em;
  margin-left: 0;
}
nav.mainnav ul li span.menu {
  vertical-align: middle;
  display: inline-grid;
}
nav.mainnav ul li span.menu#preface {
  display: inline-block !important;
  padding-left: 0;
}
nav.mainnav ul li img {
  height: 5em;
}
nav.mainnav ul li a {
  font-family: "NotCourierSans-Bold", "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-decoration: none;
  vertical-align: top !important;
  color: #B9FF00;
}
nav.mainnav ul li a:hover {
  color: #B9FF00;
  text-decoration: none;
}
nav.mainnav ul li a#preface {
  font-size: 4.1em;
}
nav.mainnav ul li button.player {
  float: right;
  background: none;
  border: none;
}
nav.mainnav ul li button.player:hover {
  cursor: pointer;
}
nav.mainnav ul li button.player img {
  height: 3em;
}

iframe#content {
  width: 100%;
  height: 100%;
}

audio {
  display: none;
}

section.mainsection {
  width: 100%;
  margin: 0 auto;
}
section.mainsection h1.special {
  font-family: "Luminari-Regular", "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 700;
}
section.mainsection h1.special.emphasis-text {
  color: red;
}
section.mainsection.last {
  margin-bottom: 14em;
  height: inherit;
  display: inline-table;
}
section.mainsection.remedies {
  margin-top: 13%;
}
section.mainsection.remedies h1 {
  margin: auto;
  display: table;
}
section.mainsection.remedies h2 {
  margin: auto;
  display: table;
  padding-bottom: 4em;
}
section.mainsection.remedies-list ul {
  font-size: 2em;
}
section.mainsection.compendium {
  margin-top: 23%;
}
section.mainsection.compendium h1 {
  text-align: center;
  font-size: 5em;
  padding-bottom: 1em;
}
section.mainsection.compendium h2 {
  padding-top: 1em;
  text-align: center;
  font-size: 3em;
  padding-bottom: 1em;
}
section.mainsection.compendium img {
  margin: auto;
  display: block;
  height: 44em;
  padding-bottom: 1em;
}
section.mainsection.first {
  margin-top: 23%;
}

div.center-wrapper {
  max-width: 1000px;
  padding: 0 20px 0 20px;
  margin: 0 auto;
  position: relative;
}

.divider {
  height: 6em;
  margin: auto;
  display: block;
  margin-bottom: 7em;
  margin-top: 7em;
}
.divider.divider2 {
  height: 14em;
}
.divider.divider3 {
  height: 100%;
}

.download-overlay {
  float: right;
  margin-right: 24em;
  display: block;
  height: 3.5em;
  position: relative;
  top: 28em;
}
.download-overlay.glow-more {
  -webkit-filter: drop-shadow(0 0 4mm #B9FF00);
  filter: drop-shadow(0 0 4mm #B9FF00);
}

section#front {
  position: relative;
  overflow: hidden;
  height: inherit;
}
section#front img {
  margin: auto;
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}
section#front .front-overlay {
  position: absolute;
  top: 59em;
  float: right;
  right: 7em;
  width: 40%;
  font-size: 0.7em;
}

section#content h1.special {
  font-family: "Luminari-Regular", "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 700;
}
section#content h1.special.emphasis-text {
  color: red;
}
section#content h3 {
  font-family: "NotCourierSans-Bold", "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 2em;
  text-align: center;
  padding-bottom: 2em;
}
section#content img.download {
  display: block;
  margin: auto;
}
section#content ul {
  margin-bottom: 3em;
  font-family: "NotCourierSans", "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 700;
}
section#content ul li {
  font-family: "NotCourierSans-Bold", "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 700;
  display: flex;
  padding-bottom: 1em;
  margin-left: 2%;
}
section#content ul li span.left {
  position: absolute;
  font-size: 1.8em;
  float: left;
}
section#content ul li span.right {
  font-size: 1.8em;
  float: right;
  margin-left: 27em;
}
section#content div.episodes {
  background-image: url("/static/images/episodes/00.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  background-size: 80%;
  margin-bottom: 10em;
  height: 46em;
}
section#content div.episodes#episode1 {
  background-image: url("/static/images/episodes/EP-1still.jpg");
}
section#content div.episodes#episode2 {
  background-image: url("/static/images/episodes/EP-2still.jpg");
}
section#content div.episodes#episode3 {
  background-image: url("/static/images/episodes/EP-3still.jpg");
}
section#content div.episodes#episode4 {
  background-image: url("/static/images/episodes/EP-4still.jpg");
}
section#content div.episodes#episode5 {
  background-image: url("/static/images/episodes/EP-5still.jpg");
}
section#content div.episodes#episode6 {
  background-image: url("/static/images/episodes/EP-6still.jpg");
}
section#content div.episodes#episode7 {
  background-image: url("/static/images/episodes/EP-7still.jpg");
}
section#content div.episodes img {
  width: 97%;
  position: absolute;
}
section#content div.episodes img.title {
  padding-top: 4%;
  left: 7%;
  width: 88%;
}

div.header-frame-test {
  top: -2em;
  background-image: url("/static/images/0headerAR.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 10em;
}
div.header-frame-test.zoomOut {
  background-image: url("/static/images/0headerEN.png");
}

.header-frame {
  position: absolute !important;
  height: auto !important;
  top: 0;
  width: 100%;
}
.header-frame.big-only {
  display: block;
}
.header-frame.mobile-only {
  display: none;
}
.header-frame.fixed-frame {
  position: fixed !important;
  z-index: 3000;
}

.small-header {
  height: 16em;
  display: block;
  margin: auto;
}
.small-header#headerAR {
  position: absolute;
  left: 35%;
}

.glow {
  -webkit-filter: drop-shadow(4px 4px 3px #B9FF00);
  filter: drop-shadow(4px 4px 3px #B9FF00);
}

.glow-flicker {
  animation: flicker 1.5s infinite;
  -webkit-filter: drop-shadow(4px 4px 3px #B9FF00);
  filter: drop-shadow(4px 4px 3px #B9FF00);
}

.float {
  animation: float 5.5s ease-in-out infinite;
  -webkit-filter: drop-shadow(4px 4px 3px #B9FF00);
  filter: drop-shadow(4px 4px 3px #B9FF00);
}

.zoomIn {
  animation: zoomin 20s infinite;
}
.zoomIn.header {
  height: inherit;
  width: 100%;
  position: initial;
  float: right;
  right: 6%;
}

.zoomOut {
  animation: zoomout 20s infinite;
}

@keyframes flicker {
  0% {
    -webkit-filter: drop-shadow(4px 4px 3px #B9FF00);
    filter: drop-shadow(4px 4px 3px #B9FF00);
  }
  50% {
    -webkit-filter: drop-shadow(2px 2px 0px #B9FF00);
    filter: drop-shadow(2px 2px 0px #B9FF00);
  }
  100% {
    -webkit-filter: drop-shadow(4px 4px 3px #B9FF00);
    filter: drop-shadow(4px 4px 3px #B9FF00);
  }
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes zoomout {
  0% {
    transform: scale(0.5, 0.5);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(0.5, 0.5);
  }
}
@keyframes zoomin {
  0% {
    transform: scale(1.2, 1.2);
  }
  50% {
    transform: scale(0.8, 0.8);
  }
  100% {
    transform: scale(1.2, 1.2);
  }
}
@media (min-width: 1441px) and (max-width: 2561px) {
  div.center-wrapper {
    max-width: 54%;
  }

  nav.mainnav ul {
    width: 100%;
    display: table;
    margin: auto;
  }

  body#remedies h1 {
    font-size: 5em;
  }
  body#remedies h2 {
    font-size: 3em;
  }

  .small-header {
    height: 33em;
  }
  .small-header#headerAR {
    left: 39%;
  }

  section.mainsection.remedies {
    margin-top: 12%;
  }

  .front-overlay {
    top: 68em !important;
    right: 5em !important;
    font-size: 1.1em !important;
  }

  div.episodes {
    height: 64em !important;
  }
  div.episodes img.frame {
    width: 98% !important;
  }
}
@media screen and (max-width: 1025px) {
  nav.mainnav ul li {
    margin-left: 2%;
  }
  nav.mainnav ul li#preface img {
    vertical-align: bottom;
  }
  nav.mainnav ul li span.menu#preface {
    padding-top: 2em;
  }
  nav.mainnav ul li span.menu#preface a {
    font-size: 21.1em;
  }

  header {
    font-size: 0.2em;
  }

  .front-overlay {
    top: 61em !important;
    right: 5em !important;
    font-size: 0.5em !important;
  }

  .zoomIn.header {
    top: -18em;
    position: absolute;
  }

  .zoomOut.header {
    position: inherit;
    top: 13em;
    height: inherit;
  }

  div.episodes {
    background-size: cover;
    margin-bottom: 10em;
    height: 46em;
  }
}
@media screen and (max-width: 768px) {
  body#remedies h1 {
    font-size: 2.5em;
  }

  nav.mainnav ul li span.menu#preface {
    padding-top: 1em;
  }
  nav.mainnav ul li span.menu#preface a {
    font-size: 10.1em;
  }

  div.episodes {
    height: 34em !important;
  }
}
@media screen and (max-width: 630px) {
  nav.mainnav {
    text-align: center;
  }
  nav.mainnav ul li {
    margin: auto;
    display: inline-flex;
  }
  nav.mainnav ul li#preface span#preface a {
    font-size: 10.1em;
  }

  .front-overlay {
    width: 70% !important;
    top: 78em !important;
    right: 8em !important;
    z-index: 300;
  }

  div.header-frame-test {
    top: 0;
  }

  .header-frame {
    position: absolute !important;
    height: auto !important;
    top: 0;
    width: 100%;
  }
  .header-frame.big-only {
    display: none;
  }
  .header-frame.mobile-only {
    display: block;
  }

  div.episodes {
    height: 18em !important;
  }
  div.episodes img {
    width: 91% !important;
  }

  section#content ul li {
    display: grid;
  }
  section#content ul li span.left {
    position: relative;
    font-size: 1.8em;
    float: left;
    display: block;
  }
  section#content ul li span.right {
    position: relative;
    font-size: 1.8em;
    float: left;
    margin-left: 0;
    display: block;
  }
}
@media screen and (max-width: 375px) {
  div.episodes {
    height: 15em !important;
  }
  div.episodes img {
    width: 90% !important;
  }
}
@media screen and (max-width: 320px) {
  nav.mainnav {
    text-align: center;
  }
  nav.mainnav ul li {
    margin: auto;
    display: inline-flex;
  }
  nav.mainnav ul li#preface span#preface a {
    font-size: 15.1em;
  }
}

/*# sourceMappingURL=base.css.map */
